<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Le Bon Potin (boosté via shotgun !)</h1>
    <a href="/gossips/new/">Créer une annonce de potin</a>
    </br></br>

    <h2>La liste des potins actuels : </h2>
    <% gossips.each_with_index do |gossip,i| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
        <a href='/gossips/<%=i+1%>/'>Lien vers le potin</a>
      </p>
    <% end %>
    </br>

    <h2>Consulter un potin en particulier : </h2>
    <form action='/' method='POST'>
      Saisir ici le numéro du potin :  <input type='text' name='id'/><br/>
      <input type='submit'/>
    </form>

  </body>
</html>