<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views avec shotgun ! !</h1>
    <a href="/gossips/new/">Crée ton potin</a>

    <h2>La liste des potins : </h2>
    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
      </p>
    <% end %>

    <h2>Consulte un potin en particulier : </h2>
    <form action='/' method='POST'>
      Saisi ici le numéro du potin :  <input type='text' name='id'/><br/>
      <input type='submit'/>
    </form>

  </body>
</html>